/* Rodrigo Fernandes
   v1.0 | 20130406
   Author: mrfyda
   Co-author: rtfpessoa
   License: none (public domain)
*/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);

html {
    height: 100%;
}
body {
    background-attachment: fixed;
    background-image: url('../images/background.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    width: 90%;
    height: 92%;
}
a {
    color: rgba(65, 65, 65, 1.0);
    text-decoration: underline;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
header {
    margin: 2% 0 0 0;
}
nav ul li {
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    min-width: 15%;
    max-width: 20%;
    font-weight: bold;
}
nav ul li.active a{
    color: #ff6000;
}
nav ul li a {
    color: #000;
    display: block;
    padding: 7%;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ff6000;
}
.content {
    display: none;
    margin: 2% 0;
    padding: 2%;
    background: rgba(255, 255, 255, 0.7);
    width: 50%;;
    text-shadow: 0 0 0.05em #000;
}
.content.active {
    display: block;
}
.content h1,
.content h2 {
    color: #000;
    font-weight: bold;
    font-size: 2.8em;
    margin: 0 0 2% 0;
}
.content h2 {
    font-size: 2.0em;
}
.content p,
.content ul li {
    font-size: 1.5em;
    line-height: 1.2em;
}
.content ul li a span {
    position: absolute;
    margin-top: 0.4em;
}
.portfolio-item {
    padding: 2%;
}
.portfolio-item img {
    border: 1px solid #aaa;
}
footer {
    background: rgba(255, 255, 255, 0.7);
    padding: 1% 1% 0;
    text-align: left;
    width: 88%;
    bottom: 0;
    position: fixed;    
    height: 30px;
}
footer hr {
    border-color: #aaa;
    border-style: dashed;
}
footer p {
    font-size: 0.9em;
}
@media all and (max-width: 1200px) {
    nav ul li {
        margin-bottom: 1%;
        width: 25%;
    }
}
@media all and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 2%;
        max-width: 100%;
        padding: 0.5em;
        width: auto;
    }
    nav ul li a {
        padding: 0;
    }
    .content {
        padding: 5%;
        background: rgba(255, 255, 255, 0.7);    
	margin-bottom: 17%;
	width: auto;
    }
    .content h1 {
        margin: 0 0 2% 0;
    }
    .portfolio-item {
        margin: 0;
    }
}
.icon-2x {
    color: #000;
}
.icon-2x:hover {
    background-color: #ff6000;
}
.contacts ul li a {
    text-decoration: none;
}
.contacts ul li {
    padding: 0.0% 0.5% 0.5% 0.5%;
}
.contacts ul li a span {
    color: black;
}
