.face {
  float: left;
  margin-right: 13px;
  margin-top: 0px;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-size: 100%;
  background-image: url(../imgs/profile.jpg);
}

a {
  color: #006ab2 !important;
}

.media {
  margin-top: 15px;
  margin-bottom: 15px;
}
