/* Rodrigo Fernandes
   v1.0 | 20130402
   Author: mrfyda
   Co-author: rtfpessoa
   License: none (public domain)
*/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);

html {
    height: 100%;
}
body {
    background-attachment: fixed;
    background-image: url('../images/background.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    width: 90%;
    height: 100%;  
}
a {
    color: #f3f3f3;
    text-decoration: none;
}
img {
    max-width: 100%;
}
header {
    margin: 5% 0 0 0;
}
nav ul li {
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    width: 15%;
    font-weight: bold;
}
nav ul li.active a{
    color: #ff6000;
}
nav ul li a {
    color: #000;
    display: block;
    height: 100%;
    padding: 1em 5% 1em 1em;
    text-decoration: none;
    width: 100%;
}
nav ul li a:hover {
    color: #ff6000;
}
#content {
    margin: 5% 0;
    padding: 2%;
    background: rgba(255, 255, 255, 0.5);
    width: 50%;
    text-shadow: 0 0 0.06em #000;
}
#content h1,
#content h2 {
    color: #000;
    font-weight: bold;
    font-size: 2.8em;
    margin: 0 0 2% 0;
}
#content h2 {
    font-size: 2.0em;
}
#content p,
#content ul li {
    font-size: 1.5em;
}
#content ul li a span {
    position: absolute;
    margin-top: 0.5em;
}
.portfolio-item {
    padding: 2%;
}
.portfolio-item img {
    border: 1px solid #aaa;
}
footer {
    background: rgba(255, 255, 255, 0.5);
    padding: 1% 1% 0;
    bottom: 0;
    position: fixed;
    text-align: left;
    width: 88%;
    height: 30px;
}
footer hr {
    border-color: #aaa;
    border-style: dashed;
}
footer p {
    font-size: 0.9em;
}
@media all and (max-width: 1200px) {
    nav ul li {
        margin-bottom: 1%;
        width: 25%;
    }
    #content {
        width: 90%;       
    }    
}
@media all and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 2%;
        padding: 0.5em;
        width: auto;
    }
    nav ul li a {
        padding: 0;
    }
    #content {
        padding: 5%;
        background: rgba(255, 255, 255, 0.5);    
		margin-bottom: 17%;
		width: 90%;
    }
    #content h1 {
        margin: 0 0 2% 0;
    }
    .portfolio-item {
        margin: 0;
        width: auto;
    }
}

.icon-2x {
    color: #000;
}

.contacts ul li {
    padding: 0.0% 0.5% 0.5% 0.5%;
}

.contacts ul li a span {
    color: black;
}
