/* Rodrigo Fernandes
   v1.0 | 20130401
   Author: mrfyda
   License: none (public domain)
*/
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    background: url('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-ash3/62181_3911554394629_936562229_n.jpg') no-repeat top right;
    background-size: 100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    width: 90%;
}
header {
    margin: 5% 0 0 0;
}
nav ul li {
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding-right: 5%;
    width: 8%;
}
nav ul li.active a{
    color: #ddd;
}
nav ul li a {
    color: #aaa;
    text-decoration: none;
}
nav ul li a:hover {
    color: #000;
}
@media all and (max-width: 1200px) {

    nav ul li {
        margin-bottom: 1%;
        width: 18%;
    }
}
@media all and (max-width: 600px) {
    body {
        background-size: auto;
    }
    nav ul li {
        display: block;
        margin-bottom: 2%;
        padding: 1%;
        width: auto;
    }
}
body > h1,
body > h2 {
    color: #555;
    font-size: 2.8em;
    margin: 5% 0 2% 0;
}
body > h2 {
    font-size: 2.0em;
}
body > p {
    font-size: 1.5em;
}
footer {
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    padding: 0 1% 2%;
    position: fixed;
    width: 88%;
}
footer hr {
    border-color: #aaa;
    border-style: dashed;
}
footer p {
    color: #555;
    font-size: 0.9em;
}
